<mat-card>
  <mat-card-subtitle class="mb-1">Change Password</mat-card-subtitle>
  <mat-card-content>
    <ng-container *ngIf="userData$ | async as userData">
      <p>After change you must re-signin with new password</p>
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit(userData?.data?.user?.hexid)"
      >
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Current password</mat-label>
          <input
            type="password"
            matInput
            formControlName="current_password"
            placeholder="Password using now"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New password</mat-label>
          <input
            type="password"
            matInput
            formControlName="new_password"
            placeholder="New password"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Retype new password</mat-label>
          <input
            type="password"
            matInput
            formControlName="retype_password"
            placeholder="Confirm new password"
          />
        </mat-form-field>

        <div class="text-end">
          <button
            mat-raised-button
            color="primary"
            [disabled]="
              changePasswordForm.invalid || userData?.status == 'loading'
            "
          >
            Change Password
          </button>
        </div>
      </form>
    </ng-container>
  </mat-card-content>
</mat-card>
